[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
GPUtil = "*"
gpustat = "*"
websockets = "*"
supabase = "*"
aiohttp = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
